{% extends "base.html" %}
{% load static %}
{% load material_form %}
{% block container %}

    <div class="card larger" id="card-radius">

        <form method="GET" enctype="multipart/form-data">{% csrf_token %}

            <div class="card-content">
                {% form %}

                {% endform %}
            </div>

            <div class="card-action">
                <div class="right-align">
                    <button class="waves-effect waves-light btn" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>


        <table class="highlight">
        <thead>
          <tr>
              <th>Cliente</th>
              <th>Data</th>
              <th>Veículo</th>
              <th>Valor</th>
              <th>Chassi</th>
              <th>Cor</th>
{#            <th>Forma Pagamento</th>#}
          </tr>
        </thead>
            {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.person }}</td>
                    <td>{{ receipt.created|date:"d/m/Y" }}</td>
                    <td>{{ receipt.vehicle|linebreaks }}</td>
                    <td>{{ receipt.value_total|floatformat:"2" }}</td>
                    <td>{{ receipt.chassis }}</td>
                    <td>{{ receipt.color }}</td>
{#                  <td>{{ receipt.form_of_payment }}</td>#}
                    <td><a href="{{ receipt.get_absolute_url }}"><i class="small material-icons">local_printshop</i></a></td>

                </tr>
            {% empty %}
                <li>
                    Sem registros
                </li>
            {% endfor %}
        </table>
    </div>

{% endblock %}

