{% extends "base.html" %}
{% load static %}
{% load material_form %}
{% block container %}

    <div class="card larger" id="card-radius">
        <table class="responsive-table highlight" tastyle="width:100%">
        <thead>
          <tr>
              <th>Cliente</th>
              <th>Data</th>
              <th>Veículo</th>
              <th>Valor</th>
              <th>Chassi</th>
              <th>Cor</th>
{#            <th>Forma Pagamento</th>#}
          </tr>
        </thead>
            {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.person }}</td>
                    <td>{{ receipt.created|date:"d/m/Y" }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ receipt.vehicle|linebreaks }}</td>
                    <td>{{ receipt.value_total|floatformat:"2" }}</td>
                    <td>{{ receipt.chassis }}</td>
                    <td>{{ receipt.color }}</td>
{#                    <td>{{ receipt.form_of_payment }}</td>#}
                    <td><a href="{{ receipt.get_absolute_url }}" ><i class="medium material-icons">local_printshop</i></a></td>

                </tr>
            {% empty %}
                <li>
                    Sem registros
                </li>
            {% endfor %}
        </table>
    </div>

{% endblock %}

