{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load material_form %}
{% load i18n %}

{% block container %}
<div class="card larger" id="card-radius">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}

            <div class="card-content">
                {% form %}

                {% endform %}
            </div>

        <div class="card-content">
            <table class="responsive-table highlight" tastyle="width:100%">
                <thead class="#cfd8dc blue-grey lighten-4">
                    <th>Forma de Pagamento</th>
                    <th>Tipo</th>
                    <th>Preço unitário</th>
                    <th></th>
                </thead>

                {{ formset.management_form }}

                <tbody>
                {% for item_form in formset %}
                    {% for hidden in item_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}


                    <tr class="item-form">
                        <td>{{ item_form.form_of_payment.errors }} {{ item_form.form_of_payment }}</td>
                        <td>{{ item_form.kind.errors }} {% render_field item_form.kind %}</td>
                        <td>{{ item_form.value_moved.errors }} {% render_field item_form.value_moved %}</td>
                        <td class=""></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br><br>

            <div class="card-action">
                <div class="right-align">
                    <button class="waves-effect waves-light btn" type="submit">Registrar</button>
                </div>
            </div>
    </form>
</div>

{% endblock %}

        <script src="{% static 'js/jquery.formset.min.js' %}"></script>
        <script src="{% static 'js/invoice_form.js' %}"></script>