{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}"/>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<form class="container clearfix">

		<h1>D&G COMÉRCIO DE AUTOPEÇAS LTDA<br/>RECIBO</h1>
        <img class="img-topo" src="{% static 'img/logo.png' %}">
        <br><br><br>
		<label class="rs-topo">R${{recibo.value_total|floatformat:"2"}}</label>
		<div class="text_justificado">
            Recebi(emos) de <label name="recebido" class="recebido">{{recibo.person}}</label>
			a quantia de R$<label name="recebido" class="recebido">{{recibo.value_total|floatformat:"2"}}</label>
			(<label name="recebido" class="quantia">{{recibo.value_total|floatformat:"2"}}</label>)<br/>
			Referente:<br/>
                    <table>
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Descrição</th>
                                <th class="col_center">Valor</th>
                        </thead>
                        <tbody>
                            {% for movement in movements %}
                                <tr>
                                    <td class="col_left">{{ movement.kind }}</td>
                                    <td class="col_left">{{ movement.description }}</td>
                                    <td class="col_right">{{ movement.value_moved|floatformat:"2" }}</td>
                                </tr>
                            {% empty %}
                                <li>
                                    Sem registros
                                </li>
                            {% endfor %}
                        </tbody>
                    </table>

			Veículo: <label name="recebido" class="recebido">{{recibo.vehicle}}</label>
            <br>
			Chassi:  <label name="recebido" class="recebido">{{recibo.chassis}}</label>
            <br>
			Cor:     <label name="recebido" class="recebido">{{recibo.color}}</label>
            <br>
			Forma de pagamento: <label name="recebido" class="recebido">{{recibo.form_of_payment}}</label>
            <br>

			Para maior clareza firmamos o presente.<br/>
			Fortaleza (CE), <label name="recebido" class="recebido">{{recibo.created}}</label> <br><br>
			<label class="assinatura">
				<input type="text" name="quantiatext" class="quantia">
				Ass. Vendedor de Acessórios
			</label>
		</div>
	</form>

    <footer>
        <span>
            <b>D&G COMÉRCIO DE AUTOPEÇAS LTDA.</b><br/>
            Rua Capitão Melo, 4112 • São João do Taubape • CEP 60.120-095<br/>
            Fortaleza - CE • CNPJ: 14.045.341.0001/98 • Fone: (85) 3077-0900
        </span>
    {#  <p>Posted by: Hege Refsnes</p>#}
    {#  <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>#}
    </footer>
</body>
</html>