{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}"/>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<form class="container clearfix">

		<h1>DCC AUTOMOTIVE<br/>RECIBO</h1>
        <img class="img-topo" src="{% static 'img/logo.png' %}">
        <br><br><br>
		<div class="text_justificado">
            Recebemos de <strong><label name="recebido" class="recebido">{{recibo.person}}</label></strong>, CPF/CNPJ {{recibo.person.cpf_cnpj}}, o  valor de <strong>R$ <label name="recebido" class="recebido">{{recibo.value_total|floatformat:"2"}}</label></strong>
			(<label>{{recibo.number_in_full}}</label>), referente aos itens abaixo:<br/>
                    <table>
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Forma de Pagamento</th>
                                <th class="col_center">Valor R$</th>
                        </thead>
                        <tbody>
                            {% for movement in movements %}
                                <tr>
                                    <td>{{ movement.kind }}</td>
                                    <td>{{ movement.form_of_payment }}</td>
                                    <td class="td_numerico">{{ movement.value_moved|floatformat:"2" }}</td>
                                </tr>
                            {% empty %}
                                <li>
                                    Sem registros
                                </li>
                            {% endfor %}
                        </tbody>
                    </table>
                    <label class="total_table">R$ {{recibo.value_total|floatformat:"2"}}</label>

            <br>
			Veículo: <label name="recebido" class="recebido">{{recibo.vehicle}}</label>
            <br>
			Chassi:  <label name="recebido" class="recebido">{{recibo.chassis}}</label>
            <br>
			Cor:     <label name="recebido" class="recebido">{{recibo.color}}</label>
            <br>
            Recibo Nr.:     <label name="recebido" class="recebido">{{recibo.id|stringformat:"06d"}}</label>
            <br>
            Observações: <label name="recebido" class="recebido">{{recibo.observation}}</label>
            <br>
            <br>


            {{recibo.author.useradress.cidade|upper}}<label>/</label>{{recibo.author.useradress.estado|upper}}, <label name="recebido" class="recebido">{{recibo.created}}</label> <br><br>
			<label class="assinatura">
				<input type="text" name="quantiatext" class="quantia">
				<label name="recebido" class="recebido">{{recibo.author|upper}}</label>
                <br>
                Vendedor(a)
                <br>
                D&G Com. Autopeças Ltda
			</label>
		</div>
	</form>

    <footer>
        <span>
            <b>D&G COMÉRCIO DE AUTOPEÇAS LTDA.</b><br/>
                CNPJ Ceará: 14.045.341/0001-98 • Piauí: 14.045.341/0002-79
                Paraíba: 14.045.341/0003-50 • Pernambuco: 14.045.341/0004-30<br/>
                Telefone (85) 3077-0900
        </span>
    {#  <p>Posted by: Hege Refsnes</p>#}
    {#  <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>#}
    </footer>
</body>
</html>